<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Latih Golang Yuk!</title>
  <link rel="stylesheet" href="/static/css/golang.css" />
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar">
    <h1>GOLearn</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">About Go</a></li>
      <li><a href="#">Materi</a></li>
      <li><a href="#">Contact Person</a></li>
    </ul>
  </nav>

</body>
</html>
